AELTCLogicApp/AIT/bin/Debug/staging/ImportAITProducts/ImportAITProducts.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "uksouth",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2",
        "koreacentral",
        "koreasouth",
        "francecentral",
        "francesouth"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "orgID": {
      "type": "string",
      "defaultValue": {},
      "metadata": {
        "descrition": "Organsation Identity"
      }
    },
    "userID": {
      "type": "string",
      "defaultValue": {},
      "metadata": {
        "description": "User Identity"
      }
    },
    "passwordHash": {
      "type": "securestring",
      "defaultValue": {},
      "metadata": {
        "description": "Password"
      }
    },
    "serviceURI": {
      "type": "string",
      "defaultValue": {},
      "metadata": {
        "description": "Service Path"
      }
    },
    "sql_1_Connection_Name": {
      "type": "string",
      "defaultValue": "sql"
    },
    "sql_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "AzureODS"
    },
    "sql_1_server": {
      "type": "string",
      "metadata": {
        "description": "SQL server name"
      },
      "defaultValue": "aeltcsql-dev.database.windows.net"
    },
    "sql_1_database": {
      "type": "string",
      "metadata": {
        "description": "SQL database name"
      },
      "defaultValue": "AELTCODS"
    },
    "sql_1_username": {
      "type": "securestring",
      "metadata": {
        "description": "Username credential"
      }
    },
    "sql_1_password": {
      "type": "securestring",
      "metadata": {
        "description": "Password credential"
      }
    },
    "sql_1_sqlConnectionString": {
      "type": "securestring",
      "metadata": {
        "description": "SQL Connection String"
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "HTTP-GET_Products": {
              "type": "Http",
              "inputs": {
                "method": "GET",
                "uri": "@parameters('$serviceuri')",
                "queries": {
                  "orgId": "@parameters('$orgid')",
                  "userId": "@parameters('$userid')",
                  "passwordHash": "@parameters('$passwordhash')"
                }
              },
              "runAfter": {}
            },
            "Execute_stored_procedure_-Insert_Products": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['sql']['connectionId']"
                  }
                },
                "method": "post",
                "body": {
                  "pjsonData": "@{body('HTTP-GET_Products')}"
                },
                "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/procedures/@{encodeURIComponent(encodeURIComponent('[import].[TktSalesInsertProdData]'))}"
              },
              "runAfter": {
                "HTTP-GET_Products": [
                  "Succeeded"
                ]
              }
            },
            "Initialize_variable-V1.3": {
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "Test",
                    "type": "Integer",
                    "value": 1
                  }
                ]
              },
              "runAfter": {
                "Execute_stored_procedure_-Insert_Products": [
                  "Succeeded"
                ]
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "$orgid": {
              "defaultValue": "[parameters('orgID')]",
              "type": "String"
            },
            "$userid": {
              "defaultValue": "[parameters('userID')]",
              "type": "String"
            },
            "$passwordhash": {
              "defaultValue": "[parameters('passwordHash')]",
              "type": "SecureString"
            },
            "$serviceuri": {
              "defaultValue": "[parameters('serviceURI')]",
              "type": "String"
            }
          },
          "triggers": {
            "Recurrence": {
              "type": "Recurrence",
              "recurrence": {
                "frequency": "Minute",
                "interval": 3
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "sql": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]",
                "connectionName": "[parameters('sql_1_Connection_Name')]"
              }
            }
          }
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('sql_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('sql_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sql')]"
        },
        "displayName": "[parameters('sql_1_Connection_DisplayName')]",
        "parameterValues": {
          "server": "[parameters('sql_1_server')]",
          "database": "[parameters('sql_1_database')]",
          "username": "[parameters('sql_1_username')]",
          "password": "[parameters('sql_1_password')]",
          "sqlConnectionString": "[parameters('sql_1_sqlConnectionString')]"
        }
      }
    }
  ],
  "outputs": {}
}